
body {
  margin: 0;
  height: 100vh;  /*100% view height */
  width: 100vw;   /* 100% view width */
  background: lightblue;
  font-family: monospace; 
  font-size: 12pt;
} 


.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-content: center;
  width: 100%;
  height: 50px;
  border: 1px solid black;
}

.columns {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: auto;
}
.navRight { 
  font-size: 1.8em;
  position: right; 
  right: 0;
  height: 0;
}
.navRight:hover { 
  font-size: 2.1em;
  position: right; 
  right: 0;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1 0 800px;
  justify-content: center;
}
  
.box.flex {
  display: flex;
}

.box {
  flex: 0 0 600px;
  border-radius: 4px;
}


.box.left  {
  flex-shrink: 0;
  text-align: left;
}

.box.center  {
  flex-shrink: 0;
  text-align: center;
}

.box.right  {
  flex-shrink: 0;
  text-align: right;
}

.id {
  display: flex;
  flex: 1 1 600px;
  justify-content: center;
  align-items: center;   /* <---- NEW    */
}
.id-child {
    flex: 1 1 500px;
    width: 500px;
    text-align: right;
}

.id-child:first-child {
    flex: 1 1 100px;
    display: none;
    width: 100px;
    height: 100px;
    font-size: 55pt;
    text-align: center;
    border: 2px solid black;
}

.id-child-wait:first-child {
    flex: 1 1 100px;
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 2px solid black;
    background: lightblue;

}

.name {
  display: flex;
  flex: 1 1 600px;
  order: 2;
  height: 50px;
  justify-content: center;
  align-items: center;   /* <---- NEW    */
}
.name-child {
    flex: 1 1 100px;
    width: 100px;
    text-align: right;
}

.name-child:first-child {
    flex: 1 1 500px;
    width: 500px;
    display: inline-block;
    text-align: left;
}


.description {
  display: flex;
  flex: 1 1 600px;
  justify-content: center;
  align-items: center;   /* <---- NEW    */
  font-size: 20px; 
  text-align: left;
}

.bottom { 
  position: fixed;
  order: 3;
  font-size: small;
  color: gray;
  bottom:0;
} 
.right-0  {right: 0; padding-right: 10px; }
.left-0   {left:  0; padding-left:  10px; }

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: gray;
   font-size: small;
   text-align: right;
}

input[type='text'] {
  font-size: 30px; 
  font-family: monospace; 
  vertical-align: center;
} 
textarea {
  width: 600px;
  font-size: 12pt;
  font-family: monospace; 
  background: lightblue; 
  border: 1px solid black;
}
button {
  font-size: 20px;
}

/**** slider stuff ****/
/* https://stackoverflow.com/questions/39846282/how-to-add-the-text-on-and-off-to-toggle-button */

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'RO';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'R/W';
}

/*--------- END --------*/
